/*shared styles*/
body {
    font-family: 'Open Sans', sans-serif;

}

/*nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0cm;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/*header */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0cm;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-content{
    max-width: 584;
}

/* main section stylee*/


/* about section*/
.about{
    padding: 150px;
    border-radius: 10px;
    background: #ebdccd;
    margin: 130px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.section-description{
    text-align: center;
    font-size: 20px;
}